<!DOCTYPE html>
<html>
<head>
	<title>Vue JS Introduction</title>
	<script type="text/javascript" src="vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>{{message}}</h1>
		<button v-on:click="reverse">Reverse Text</button>
		<br><br>

		<input type="text" name="name" placeholder="Enter your name" v-model="name">

		<p v-bind:title="titletxt">{{name}}</p>
		<img :src="photo" alt="This is sample photo" style="width: 150px; height: 150px;">

		<p v-if="mark > 50">Passed!</p>
		<p v-else>Failed!</p>

		<ol>
			<li v-for="todo in filterTodos">{{todo.text}}</li>
		</ol>

	</div>

	<script type="text/javascript">
		var app=new Vue({ //instance object
			el:"#app",  //DOM Link
			data:{
				message:"Hello Vue",
				name:"Vue In-Browser",
				titletxt:"This is a title",
				photo:"photo/vuelogo.png",
				mark:50,
				todos: [
			      { text: 'Learn JavaScript',status:false },
			      { text: 'Learn Vue',status:true },
			      { text: 'Build something awesome',status:false }
    			]
			},

			methods:{
				reverse(){
					this.message=this.message.split('').reverse().join('');
				}
			},

			computed:{
				filterTodos(){
					return this.todos.filter(row => row.status==true)
				}
			}
		})


	</script>

</body>
</html> 